<main class="flex min-h-screen flex-col items-center justify-center gap-8 px-4">
    <div class="flex flex-col gap-4 justify-center items-center">
        <app-logo></app-logo>
        <p class="text-neutral-600 font-medium">Sua jornada acadêmica organizada em um só lugar </p>
    </div>

    <div
        class="w-md h-fit flex flex-col gap-8 bg-white rounded-xl border border-neutral-300 p-6">  
        <div class="flex justify-between gap-2 bg-neutral-100 rounded-md p-2 font-semibold">
            <button (click)="switchTab('entrar')"
            [class]="activeTab === 'entrar' ? 'bg-white hover:bg-white/80' : 'bg-white/0 hover:bg-white/40'"   
            class="flex-1/2 shadow-md text-neutral-900 py-2 rounded-md cursor-pointer">Entrar</button>
            <button (click)="switchTab('cadastrar')"
                [class]="activeTab === 'cadastrar' ? 'bg-white hover:bg-white/80' : 'bg-white/0 hover:bg-white/40'"
                class="flex-1/2 text-neutral-900 py-2 rounded-md cursor-pointer">Cadastrar</button>
        </div>
        <div class="">
            <h2 class="text-xl text-neutral-900 font-semibold">Bem-vindo de volta</h2>
            <p class="text-neutral-600">Insira suas credenciais para acessar sua conta</p>
        </div>
        <app-entrar *ngIf="activeTab === 'entrar'"></app-entrar>
        <app-registrar *ngIf="activeTab === 'cadastrar'" (success)="switchTab('entrar')"></app-registrar>

    </div>
</main>