<form class="flex flex-col gap-4" [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="flex flex-col gap-2">
        <label for="login-email" class="text-neutral-900 font-semibold">Email</label>
        <app-input-login id="login-email" formControlName="email" type="email" [icon]="emailIcon" placeholder="Digite seu email"></app-input-login>
        @if (loginForm.controls.email.touched && loginForm.controls.email.hasError('required')) {
            <p class="mt-1 text-xs text-red-500">Informe seu email.</p>
        }
        @if (loginForm.controls.email.touched && loginForm.controls.email.hasError('email')) {
            <p class="mt-1 text-xs text-red-500">Informe um email valido.</p>
        }
    </div>
    <div class="flex flex-col gap-2 ">
        <div class="w-full flex justify-between items-center">
            <label for="login-password" class="text-neutral-900 font-semibold">Senha</label>
            <a href="#" class="text-primary-500 text-sm ">Esqueceu a senha?</a>
        </div>
        <app-input-login id="login-password" formControlName="password" type="password" [icon]="lockIcon" placeholder="Digite sua senha"></app-input-login>
        @if (loginForm.controls.password.touched && loginForm.controls.password.hasError('required')) {
            <p class="mt-1 text-xs text-red-500">Informe sua senha.</p>
        }
        @if (loginForm.controls.password.touched && loginForm.controls.password.hasError('minlength')) {
            <p class="mt-1 text-xs text-red-500">A senha precisa ter pelo menos 6 caracteres.</p>
        }
    </div>
    <div class="flex gap-2 items-center">
        <input type="checkbox" id="rememberme" class="accent-primary-500">
        <label for="rememberme" class="text-sm text-neutral-600 font-semibold">Lembrar de mim neste dispositivo</label>
    </div>
    <button
        type="submit"
        class="bg-primary-500 hover:bg-primary-500/80 text-neutral-900 flex justify-center items-center gap-2 py-2 rounded-md cursor-pointer shadow-sm">
        <p class="text-xl font-lexend font-semibold">Entrar</p>
        <fa-icon [icon]="arrowIcon"></fa-icon>
    </button>
</form>